.shadowcard{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.box{
    text-align: center;
    margin: 10px auto;
    padding: 22px 15px;
    background-color: #ffffff;
    color: gray;
    vertical-align: middle;
}
#chartWrapper{
    overflow:auto
 }



