.card{
    border-radius: 12px;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.box{
    width: 70%;
    text-align: center;
    margin: 20px auto;
    margin-bottom: 30px;
    padding: 22px 15px;
    background-color: #ffffff;
    color: gray;
    vertical-align: middle;
}